* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 20px 40px;
	font-family: "Fira Sans Condensed", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a:link {
	text-decoration: none;
	color: black;
}

#root {
	max-width: 1200px;
	margin: 0 auto;
}
