* {
  margin: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 2em sans-serif;
  width: 100%;
  height: 100vh;
  border: solid 1px black;
  padding: 10px;
}
